nav {
  max-width: 1600px;
  margin: 0 auto;
}
nav a {
  text-align: center;
  color: #F5F5F5;
  text-decoration: none;
}
#hero-msg h1, #hero-msg h4 {
  text-align: center;
}
.button-box {
  text-align: center;
}
main section {
  text-align: center;
}
#background {
  height: 725px;
  background-color: #AABD8C;
}
body {
  background-color: #2A7DA0;
}
header {
  background-color: #2A7DA0;
}
nav a:hover{
  background-color: #2A7DA0;
  color: #0A2F39;
}
.book, .join {
  background-color: #2A7DA0;
  color: #F5F5F5;
  text-decoration: none;
}
.book:hover, .join:hover {
  background-color: #2A7DA0;
  color: #0A2F39;
}
msg {
  background-color: #AABD8C;
}
footer {
  background-color: #AABD8C;
  color: #F5F5F5;
}
.home-title {
  color: #F5F5F5;
}
h4 {
  color: #F5F5F5; 
}
msg h2 {
  color: #F5F5F5;
}
msg p {
  color: #F5F5F5;
}
footer a {
  color: #F5F5F5;
  text-decoration: none;
}
footer a:hover {
  color: #0A2F39;
}
.icon {
  width: 80px
}
footer p {
  font-size: 1.2em;
}
footer p a:hover {
  text-decoration: underline;
}