#background {
  background-color: rgb(206, 114, 178);
}
h1, h2, h3 {
  color: white;
  text-align: center;
}
p {
  color: black;
  text-align: left;
}
nav a {
  color:white;
  text-align: center;
  font-size: 50px;
}
nav a:hover {
  text-align: center;
  color: black;
}
body {
  text-align: center;
  background-color: rgb(206, 114, 178);
}
h1 {
  font-size: small;
}